/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  background-color: #424752;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.content {
  padding-bottom: 60px; /* Espacio adicional para que el contenido no sea cubierto por el footer */
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}